# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# IDEs
.idea/
.vscode/

# Project Specific - Large Files & Data
*.pt
*.weights
*.onnx
*.engine
datasets/
recordings/
runs/
results/
logs/
*.log
candy_dataset.zip
*.db
*.sqlite

# System
thumbs.db
desktop.ini
